#Lesson{
    width: 100%;
    height: 100%;
}

#Lesson::after{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('../assets/images/backgroundOverlay.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05;
    z-index: -1;
}

#Lesson > .wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 30px;
}

#Lesson > .wrapper > .Lesson_Title{
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#Lesson > .wrapper > .Lesson_Title > p{
    color: var(--lime-green);
    font-size: 40px;
    font-weight: bold;
}

#Lesson > .wrapper > .Lesson_Container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic{
    width: 100%;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Header{
    width: 100%;
    height: 110px;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
    background-color: var(--dark-blue);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Header > .Title{
    color: white;
    font-size: 32px;
    font-weight: bold;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Header > .Sub_Title{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    font-size: 22px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 40px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Bullet_Topic{
    display: flex;
    flex-direction: column;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Bullet_Topic > *{
    color: white;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Bullet_Topic > .Title{
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Bullet_Topic > .Explanation{
    font-size: 24px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Bullet_Topic > .Explanation > p{
    font-size: 40px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Label{
    width: 700px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: start;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.image{
    width: 350px;
    height: 220px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 59, 80, 0.8);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.image > img{
    width: 280px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Paragraph_Topic{
    width: 100%;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Paragraph_Topic.paddingLeft{
    padding-left: 40px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Paragraph_Topic > p{
    color: white;
    position: relative;
    font-size: 20px;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Paragraph_Topic.equation > div{
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field > .Formula {
    width: 700px;
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field > .Formula > .Label{
    font-size: 24px;
    color: white;
    width: 100%;
    text-align: left;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field > .Formula > .Formula_Main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field > .Formula > .Formula_Main > .Formula_Part{
    font-size: 28px;
    color: white;
    display: flex;
    align-items: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field > .Formula > .Formula_Main > .Formula_Part.vertical{
    flex-direction: column;
    align-items: flex-start;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field > .Formula > .Formula_Main > .Formula_Part > .Expression{
    font-size: 90px;
}

#Lesson > .wrapper .Italic{
    font-style: italic;
}

#Lesson > .wrapper .Italic.Bold{
    font-style: italic;
    font-weight: bold;
}

#Lesson > .wrapper .Bold{
    font-weight: bold;
}

#Lesson > .wrapper .Blue{
    font-weight: bold;
    color: var(--light-blue);
}

#Lesson > .wrapper .Orange{
    font-weight: bold;
    color: var(--orange);
}

#Lesson > .wrapper .LimeGreen{
    font-weight: bold;
    color: var(--lime-green);
}

#Lesson > .wrapper .stack{
    position: absolute;
    padding: 0;
    font-size: 24px;
    top: -20px;
    height: 100%;
    margin: 0;
}

#Lesson > .wrapper .Vertical{
    display: flex;
    color: white;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    flex-direction: column;
    gap: 1px;
}

#Lesson > .wrapper .Vertical.others{
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field > .Formula > .Formula_Main > .Left_Side > *{
    color: white;
    font-size: 24px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field > .Formula > .Formula_Main > .Left_Side{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field > .Formula > .Formula_Main > .Left_Side > .Top,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field > .Formula > .Formula_Main > .Left_Side > .Bottom{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field > .Formula > .Formula_Main > .Right_Side{
    display: flex;
    height: 100%;
    justify-content: flex-start;
    gap: 20px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Formula_Field > .Formula > .Formula_Main > .Right_Side > p{
    color: white;
    font-size: 24px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Example_Label{
    width: 100%;
    height: 40px;
    margin-top: 75px;
    padding: 5px 20px;
    background-color: rgba(5, 59, 80, 0.8);;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Example_Label > p{
    color: white;
    font-size: 24px;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.video{
    width: 700px;
    height: 410px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 59, 80, 0.8);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.video > video{
    width: 680px;
    border-radius: 15px;
    object-fit: cover;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual.sideBySide > .Visual_Holder.video{
    width: 100%;
    height: 320px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 59, 80, 0.8);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual.sideBySide > .Visual_Holder.video > video{
    width: 95%;
    border-radius: 15px;
    object-fit: cover;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.text{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    background-color: var(--light-blue);
    gap: 20px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.text > p{
    font-size: 28px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.text > .Formula{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.text > .Formula > p{
    font-size: 28px;
    position: relative;
    color: var(--dark-blue);
} 

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.text > .Formula > p > p{
    font-weight: bold;
    font-size: 28px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.text > .Formula > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.text > .Formula > div > .Expression{
    color: var(--dark-blue);
    font-size: 100px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.text > .Formula > div > .Vertical{
    color: var(--dark-blue);
    font-size: 28px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px 30px;
    background-color: rgba(5, 59, 80, 0.8);
    border-radius: 30px;
    gap: 20px;
}



#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Label{
    color: var(--lime-green);
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Description{
    position: relative;
    color: white;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Description.two{
    display: flex;
    align-items: center;
    gap: 20px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Description.two > .left{
    width: 15%;
    font-size: 28px;
    text-align: center;
    color: var(--lime-green);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Description.two > .right{
    width: 85%;
    text-align: left;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Graph_Plotting{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Graph_Plotting > .Graph{
    width: 510px;
    height: 335px;
    background-color: whitesmoke;
    border-radius: 5px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Input_Group{
    display: flex;
    justify-content: space-between;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Input_Group > .Inputs{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Input_Group > .Inputs > *{
    color: white;
    font-size: 24px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Input_Group > .Inputs > .vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Input_Group > .Inputs > .vertical > input{
    width: 40px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Input_Group > .Inputs > .Long_Input{
    width: 100%;
    height: 30px;
    color: var(--dark-blue);
    font-size: 20px;padding-inline: 20px;
    text-align: start;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Input_Group > .Submit{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Input_Group > .Submit > button{
    width: 100px;
    height: 35px;
    border-radius: 100px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: bold;
    transition: all 250ms ease-in-out;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Input_Group > .Submit > button:hover{
    background-color: var(--dark-blue);
    color: var(--light-blue);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .left,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .left > .Label,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .right > .Label{
    width: 100%;
    height: 32px;
    font-size: 25px;
    color: var(--dark-blue);
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .left > .Content,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .right > .Content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 15px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .left{
    border-right: 5px solid var(--light-blue);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .left > .Content .Group,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .right > .Content .Group{
    width: 100%;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .left > .Content .Label,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .right > .Content .Label{
    width: 80%;
    color: white;
    font-size: 24px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .left > .Content .Sub_Label,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .right > .Content .Sub_Label{
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .left > .Content > .Vertical,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .right > .Content > .Vertical{
    position: relative;
    align-items: start;
    width: 100%;
    gap: 10px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .left > .Content.output > .Vertical,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .right > .Content.output > .Vertical{
    position: relative;
    padding-left: 80px;
    align-items: start;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Output_Rectangles_Holder{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Output_Rectangles_Holder.Long{
    display: flex;
    align-items: center;
    width: 100%;
    padding-inline: 30px;
    gap: 2px;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Output_Rectangles_Holder > p{
    display: flex;
    width: 30px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Output_Rectangles{
    background-color: whitesmoke;
    color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    content: '';
    width: 40px;
    height: 30px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Output_Rectangles_Holder.Long .Output_Rectangles{
    width: 100%;
    padding-inline: 30px;
    justify-content: flex-start;
}

#Lesson > .wrapper .divider.dashed_vertical{
    height: 100%;
    margin-top: 35px;
    width: 5px;
    content: '';
    border-left: 5px dashed var(--light-blue);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Notes_Container{
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px dashed var(--dark-blue);
    border-radius: 30px;
    padding: 20px 30px;
    gap: 20px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Notes_Container > .Label{
    width: 100%;
    text-align: left;
    font-size: 28px;
    color: white;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Notes_Container > .Note{
    position: relative;
    color: white;
    font-size: 22px;
    width: 100%;
    width: 90%;
    text-align: left;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Notes_Container > .Bold{
    color: white;
    width: 90%;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Notes_Container > .Note_Visual > .Visual_Holder.image{
    width: 350px;
    height: 220px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 59, 80, 0.8);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Notes_Container > .Note_Visual > .Visual_Holder.image > img{
    width: 280px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Left_Side,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Right_Side{
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Left_Side.withBorder{
    border-right: 1px solid white;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Left_Side  .Vertical,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Right_Side  .Vertical{
    align-items: flex-start;
    position: relative;
    gap: 10px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Left_Side  .Group,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Right_Side  .Group{
    padding-inline: 10px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Left_Side  .Vertical > p,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Right_Side  .Vertical > p{
    position: relative;
    font-size: 20px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Left_Side > .Horizontal,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Right_Side > .Horizontal{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Left_Side > .Horizontal > p,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Side_By_Side > .Right_Side > .Horizontal > p{
    color: white;
    font-size: 24px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table{
    width: 100%;
    background-color: rgba(5, 59, 80, 0.3);
    border: 5px solid var(--dark-blue);
    border-radius: 15px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 5px solid var(--dark-blue);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row.dark{
    gap: 5px;
    border: none;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row.noBorder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row > .right{
    border-left: 5px solid var(--dark-blue);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row.dark > .right,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row.noBorder > .right{
    border-left: none;
}
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row > .left > p{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row > .right > p{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row > .left,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row > .right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 30px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row.dark > .left,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row.dark > .right{
    background-color: var(--dark-blue);
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row.noBorder > .left,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row.noBorder > .right{
    justify-content: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row.dark > .left > p,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Side_By_Side_Row.dark > .right > p{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Single_Row{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    border-top: 5px solid var(--dark-blue);;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Single_Row > p{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Solution_Example{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Solution_Example > div{
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Solution_Example > .label{
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Solution_Example > div{
    width: 100%;        
    display: grid;
    grid-template-columns: 0.6fr 0.2fr 2fr;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Solution_Example > div.reverse{
    grid-template-columns: 2fr 0.2fr 0.6fr;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Solution_Example > div > .left{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Solution_Example > div > .center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Solution_Example > div > .right{
    width: 100%;
    display: flex;
    word-wrap: break-word;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Solution_Example > div > .right.noFraction{
    display: block;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .large{
    font-size: 60px;
    color: inherit;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .fraction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .fraction > .divider{
    content: '';
    border-top: 2px solid white;
    height: 5px;
    width: 100%;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .fraction > .divider.blue{
    border-color: var(--dark-blue);
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .squareRoot_Symbol{
    color: inherit;
    font-weight: bold;
    font-size: 30px;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Light_Blue_Holder{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Light_Blue{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 700px;
    padding: 15px 20px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border-radius: 10px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Light_Blue.row{
    flex-direction: row;
    gap: 20px;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Light_Blue > p{
    position: relative;
    color: var(--dark-blue);
    font-size: 24px;
    font-weight: bold;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Light_Blue > p.formula.answer{
    padding-left: 63px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Light_Blue.fraction{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Light_Blue.fraction > p{
    display: flex;
    align-items: center;
    gap: 10px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Row_With_Label{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Row_With_Label > .Label{
    width: 100%;
    background-color: var(--dark-blue);
    padding: 10px 20px;
    color: white;
    font-size: 24px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Row_With_Label > .Content{
    padding: 10px 16px;
    display: flex;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Row_With_Label > .Content > .left,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Row_With_Label > .Content > .right{
    width: 50%;
    display: flex;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Row_With_Label > .Content > .left .Vertical,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Row_With_Label > .Content > .right .Vertical{
    width: 100%;
    align-items: flex-start;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Row_With_Label > .Content > .left .Vertical > p,
#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Row_With_Label > .Content > .right .Vertical > p{
    width: 100%;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Row_With_Label > .Content .Vertical > p.word{
    padding-left: 40px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Row_With_Label > .Content .Vertical > p.formula{
    padding-left: 60px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Table > .Row_With_Label > .Content .Vertical > p.formula.answer{
    padding-left: 122px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself p.equal{
    width: 120px;
    text-align: end;
}

#Lesson > .wrapper .Theorem{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#Lesson > .wrapper .Theorem > .Label_Container{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}



#Lesson > .wrapper .Theorem > .Label_Container > .Label{
    padding: 15px 20px;
    color: var(--dark-blue);
    background-color: var(--lime-green);
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
}


#Lesson > .wrapper .Theorem > .Theorem_Content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#Lesson > .wrapper .Theorem > .Theorem_Content > *{
    color: white;
    font-size: 22px;
}

#Lesson > .wrapper .Bold_Underline{
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 40px;
}

#Lesson > .wrapper .Bold_Underline.noPadding{
    padding-left: 0;
    margin-bottom: 20px;
}

#Lesson > .wrapper .Theorem > .Theorem_Content > .Label{
    padding-left: 40px;
}

#Lesson > .wrapper .Theorem > .Theorem_Content > .Label.paddingLeft{
    padding-left: 80px;
}

#Lesson > .wrapper .Theorem > .Theorem_Content > .Label.visual{
    display: flex;
    align-items: center;
    gap: 20px;
}

#Lesson > .wrapper .Theorem > .Theorem_Content > .List{
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#Lesson > .wrapper .Theorem > .Theorem_Content > .List > p{
    position: relative;
    width: 100%;
}

#Lesson > .wrapper .Full_Image{
    width: 100%;
    display: flex;
}

#Lesson > .wrapper .Full_Image > img{
    width: 100%;
    height: 100%;
}


#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Triple_Grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Triple_Grid > div{
    padding: 10px;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Triple_Grid > .middle{
    border-inline: 1px solid white;
}

#Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Triple_Grid > .middle.noBorder{
    border: none;
}

@media only screen and (max-width: 1536px){
    #Lesson > .wrapper > .Lesson_Title{
        width: 1000px;
    }
    #Lesson > .wrapper > .Lesson_Container{
        width: 1000px;
    }

    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.video{
        width: 450px;
        height: 280px;
    }
    
    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.video > video{
        width:430px;
        border-radius: 15px;
    }

    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Output_Rectangles_Holder > p{
        width: 40px;
    }
}

@media only screen and (max-width: 1440px){
    #Lesson > .wrapper > .Lesson_Title{
        width: 1000px;
    }
    #Lesson > .wrapper > .Lesson_Container{
        width: 1000px;
    }

    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.video{
        width: 450px;
        height: 280px;
    }
    
    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.video > video{
        width:430px;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 1380px){
    #Lesson > .wrapper > .Lesson_Title{
        width: 1200px;
    }
    #Lesson > .wrapper > .Lesson_Container{
        width: 1200px;
    }
}

@media only screen and (max-width: 1180px){
    #Lesson > .wrapper > .Lesson_Title{
        width: 1100px;
    }
    #Lesson > .wrapper > .Lesson_Container{
        width: 1100px;
    }
}

@media only screen and (max-width: 1024px){
    #Lesson > .wrapper > .Lesson_Title{
        width: 1000px;
    }
    #Lesson > .wrapper > .Lesson_Container{
        width: 1000px;
    }

    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Output_Rectangles_Holder{
        gap: 5px;
    }

    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .left > .Content,
    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself > .Side_By_Side > .right > .Content{
    padding: 10px 15px;
}
}

@media only screen and (max-width: 950px){
    #Lesson > .wrapper > .Lesson_Title{
        width: 700px;
    }
    #Lesson > .wrapper > .Lesson_Title > p{
        font-size: 30px;
    }
    #Lesson > .wrapper > .Lesson_Container{
        width:700px;
    }
    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Header{
        height: 90px;
    }
    #Lesson > .wrapper .Title{
        font-size: 24px !important;
    }

    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson *{
        font-size: 20px !important;
    }

    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Expression{
        font-size: 70px !important;
    }

    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.video{
        width: 280px;
        height: 180px;
    }
    
    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson .Topic_Visual > .Visual_Holder.video > video{
        width:260px;
        border-radius: 15px;
    }

    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself .Output_Rectangles{
        width: 30px;
        height: 25px;
    }

    #Lesson > .wrapper > .Lesson_Container > .Topic_Container > .Sub_Topic > .Sub_Topic_Lesson > .Try_It_Yourself p.equal{
        width:80px;
    }
}

@media only screen and (max-width: 680px){
    #Lesson > .wrapper > .Lesson_Title{
        width: 600px;
    }
    #Lesson > .wrapper > .Lesson_Title > p{
        font-size: 27px;
    }
    #Lesson > .wrapper > .Lesson_Container{
        width:600px;
    }
}