#LessonsList{
    width: 100%;
    height: 100%;
}

#LessonsList::after{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('../assets/images/backgroundOverlay.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05;
    z-index: -1;
}

#LessonsList > .wrapper{
    width: 100%;
    height: 100%;
}

#LessonsList > .wrapper > .Lessons_Holder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
    gap: 80px;
}

#LessonsList > .wrapper > .Lessons_Holder > .Lesson{
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Title{
    width: 100%;
    text-align: start;
}

#LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Title > a{
    font-size: 35px;
    font-weight: bold;
    color: var(--lime-green);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Title > a:hover{
    color: var(--light-blue);
}

#LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Description{
    width: 100%;
    padding-left: 30px;
}

#LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Description > p{
    color: white;
    text-align: justify;
    font-size: 24px;
}

#LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image{
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 59, 80, 0.8);
    border-radius: 30px;
    transition: all 250ms ease-in-out;

}

#LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image > img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    transition: all 250ms ease-in-out;
}

#LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover{
    width: 120px;
    height: 120px;
}

#LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover > img{
    width: 80px;
    height: 80px;
}

@media only screen and (max-width: 1180px){
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson{
        width: 800px;
    }

    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Title > a{
        font-size: 32px;
    }

        
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Description > p{
        font-size: 22px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container{
        width: 110px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image{
        width: 90px;
        height: 90px;
    
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image > img{
        width: 55px;
        height: 55px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover{
        width: 110px;
        height: 110px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover > img{
        width: 70px;
        height: 70px;
    }
}

@media only screen and (max-width: 950px){
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson{
        width: 600px;
    }

    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Title > a{
        font-size: 26px;
    }

        
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Description > p{
        font-size: 18px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container{
        width: 90px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image{
        width: 80px;
        height: 80px;
    
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image > img{
        width: 45px;
        height: 45px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover{
        width: 90px;
        height: 90px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover > img{
        width: 65px;
        height: 65px;
    }
}

@media only screen and (max-width: 540px){
    #LessonsList > .wrapper > .Lessons_Holder{
        gap: 15px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson{
        width: 385px;
    }

    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Title > a{
        font-size: 22px;
    }

        
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Description > p{
        font-size: 16px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container{
        width: 70px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image{
        width: 60px;
        height: 60px;
        border-radius: 20px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image > img{
        width: 35px;
        height: 35px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover{
        width: 70px;
        height: 70px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover > img{
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 420px){
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson{
        width: 375px;
    }

    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Title > a{
        font-size: 22px;
    }

        
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Description > p{
        font-size: 15px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container{
        width: 60px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image{
        width: 55px;
        height: 55px;
        border-radius: 15px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image > img{
        width: 35px;
        height: 35px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover{
        width: 60px;
        height: 60px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover > img{
        width: 45px;
        height: 45px;
    }
}

@media only screen and (max-width: 375px){
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson{
        width: 335px;
    }

    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Title > a{
        font-size: 20px;
    }

        
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Description > p{
        font-size: 14px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images{
        height: 70px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container{
        width: 55px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image{
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image > img{
        width: 35px;
        height: 35px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover{
        width: 55px;
        height: 55px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover > img{
        width: 45px;
        height: 45px;
    }
}

@media only screen and (max-width: 320px){
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson{
        width: 300px;
    }

    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Title > a{
        font-size: 18px;
    }

        
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Description > p{
        font-size: 12px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images{
        gap: 10px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container{
        width: 60px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image{
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image > img{
        width: 35px;
        height: 35px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover{
        width: 60px;
        height: 60px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover > img{
        width: 45px;
        height: 45px;
    }
}

@media only screen and (max-width: 280px){

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson{
        width: 260px;
    }

    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Title > a{
        font-size: 16px;
    }

        
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Description > p{
        font-size: 11px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images{
        gap: 5px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container{
        width: 55px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image{
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image > img{
        width: 35px;
        height: 35px;
    }

    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover{
        width: 55px;
        height: 55px;
    }
    
    #LessonsList > .wrapper > .Lessons_Holder > .Lesson > .Images > .Image_Container > .Image:hover > img{
        width: 40px;
        height: 40px;
    }
}