#NavBar{
    position: fixed;
    width: 100%;
    height: 700px;
    transform: translateY(-644px);
    background-color: var(--dark-blue);
    padding-bottom: 7px;
    padding-left: 7px;
    transition: all 350ms ease-in-out;
    z-index: 99;
}

#NavBar::after{
    content: '';
    color: var(--dark-blue);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    bottom: -35px;
    right: 10px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 7px solid var(--dark-blue);
    background-color: var(--light-blue);
    z-index: 0;
}

#NavBar.open{
    transform: translateY(0);
}

#NavBar > .Hamburger_Icon{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 60px;
    height: 54px;
    z-index: 99;
    padding: 5px 0px;
    
}

#NavBar > .Hamburger_Icon > *{
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
}

#NavBar > .Hamburger_Icon > .home{
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
    cursor: pointer;
}

#NavBar > .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 60px;
    z-index: 1;
}

#NavBar > .wrapper > .Navbar_Toggle {
    color: var(--dark-blue);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    bottom: -50px;
    right: 10px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    cursor: pointer;
}

#NavBar > .wrapper > .Navbar_Units {
    color: var(--dark-blue);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    bottom: -50px;
    right: 400px;
    width: 220px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    z-index: -2;
}

#NavBar > .wrapper > .Navbar_Units >span{
    background-color: var(--dark-blue);
    color: var(--light-blue);
    font-size: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    transform: translateY(-30px);
    justify-content: center;
    align-items: flex-end;
    padding: 5px 15px;
    border-radius: 10px;
    border-bottom: 3px solid var(--light-blue);
    transition: all 250ms ease-in-out;
}

#NavBar > .wrapper > .Navbar_Units > span.active{
    border-color: var(--lime-green);
    transform: translateY(0);
    color: var(--lime-green);
}

#NavBar > .wrapper > .Navbar_Units > span:hover{
    border-color: var(--lime-green);
    transform: translateY(0);
    color: var(--lime-green);
}

#NavBar > .wrapper > .Navbar_Content_Container{
    width: 100%;
    height: 100%;
    background-color: var(--light-blue);
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .vertical_divider{
    content: '';
    height: 100%;
    background-color: var(--dark-blue);
    opacity: 0.5;
    width: 1px;
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side{
    position: relative;
    width: 100%;
    height: 639px;
    display: flex;
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo{
    width: 100%;
    top: -60px;
    right: -20px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: start;
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
    width: 350px;
    opacity: 0.3;
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide{
    width: 60%;
    padding: 20px 30px;
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title{
    width: 100%;
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
    font-size: 50px;
    color: var(--dark-blue);
    font-weight: bold;
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content{
    width: 100%;
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
    font-size: 24px;
    color: var(--dark-blue);
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 20px 30px;
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
    width: 100%;
    color: var(--dark-blue);
    text-align: end;
    font-size: 24px;
}

#NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p.link{
    text-decoration: underline;
    color: purple;
    cursor: copy;
}

#NavBar > .wrapper > .Navbar_Content_Container > .Bottom_Side{
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 25px;
    
}

#NavBar > .wrapper > .Navbar_Content_Container > .Bottom_Side > img{
    width: 210px;
    height: 40px;
    transform: translateY(3px);
    object-fit: cover;
}

@media only screen and (max-height: 280px){
    #NavBar{
        height: 300px;
        transform: translateY(-444px);
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side{
        position: relative;
        width: 100%;
        height: 439px;
        display: flex;
    }
}

@media only screen and (max-height: 740px){
    #NavBar{
        height: 500px;
        transform: translateY(-444px);
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side{
        position: relative;
        width: 100%;
        height: 439px;
        display: flex;
    }
}



@media only screen and (max-width: 1536px){
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 16px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 16px;
    }
}

@media only screen and (max-width: 1440px){
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 16px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 16px;
    }
}

@media only screen and (max-width: 1366px){
    #NavBar > .wrapper > .Navbar_Units {
        right: 125px;
    }

    #NavBar > .wrapper > .Navbar_Units >span{
        background-color: var(--dark-blue);
        color: var(--light-blue);
        font-size: 20px;
        width: 100px;
        height: 100px;
        display: flex;
        transform: translateY(-30px);
        justify-content: center;
        align-items: flex-end;
        padding: 5px 15px;
        border-radius: 10px;
        border-bottom: 3px solid var(--light-blue);
        transition: all 250ms ease-in-out;
    }
}

@media only screen and (max-width: 1280px){
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 40px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 18px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 18px;
    }
}

@media only screen and (orientation: landscape) and (max-width: 1024px){
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 270px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 30px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 14px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 14px;
    }
}

@media only screen and (orientation: portrait) and (max-width: 1024px){
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 270px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 30px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 16px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 16px;
    }
}

@media only screen and (orientation: landscape) and (max-width: 950px){
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 270px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 30px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 14px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 14px;
    }
}

@media only screen and (orientation: portrait) and (max-width: 950px){
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 239px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 30px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 16px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 16px;
    }
}

@media only screen and (orientation: landscape) and (max-width: 950px) and (max-height: 430px){

    #NavBar::after{
        bottom: -25px;
        width: 70px;
        height: 70px;
    }
    

    #NavBar > .wrapper > .Navbar_Toggle {
        font-size: 30px;
        bottom: -40px;
        right: 10px;
        width: 70px;
        height: 70px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Bottom_Side > img{
        width: 150px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 239px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 30px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 13px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 13px;
    }
}

@media only screen and (orientation: landscape) and (max-width: 768px){
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 270px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 30px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 14px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 14px;
    }
}

@media only screen and (orientation: portrait) and (max-width: 768px){

    #NavBar > .wrapper > .Navbar_Units {
        right: 125px;
    }

    #NavBar > .wrapper > .Navbar_Units >span{
        height: 75px;
        transform: translateY(-20px);
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 230px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 30px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 14px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 667px){

    #NavBar::after{
        bottom: -25px;
        width: 70px;
        height: 70px;
    }
    
    #NavBar > .wrapper > .Navbar_Toggle {
        font-size: 30px;
        bottom: -40px;
        right: 10px;
        width: 70px;
        height: 70px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide{
        width: 100%;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side{
        width: 100%;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Bottom_Side > img{
        width: 150px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 239px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 20px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 10px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 10px;
    }
}

@media only screen and (orientation: landscape) and (max-width: 540px){
    #NavBar{
        height: 63vh;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 270px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide{
        width: 100%;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 30px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 14px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 14px;
    }
}

@media only screen and (orientation: portrait) and (max-width: 540px){
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 230px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side{
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide{
        width: 100%;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side{
        width: 100%;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 30px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 16px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 16px;
    }
}

@media only screen and (orientation: landscape) and (max-width: 430px){
    #NavBar{
        height: 63vh;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 270px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 30px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 14px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 14px;
    }
}

@media only screen and (orientation: portrait) and (max-width: 430px){

    #NavBar > .wrapper > .Navbar_Units {
        right: 90px;
    }

    #NavBar > .wrapper > .Navbar_Units >span{
        height: 75px;
        transform: translateY(-20px);
    }

    #NavBar::after{
        bottom: -25px;
        width: 70px;
        height: 70px;
    }

    #NavBar > .wrapper{
        padding-left: 40px;
        
    }

    #NavBar > .Hamburger_Icon{
        width: 40px;
    }

    #NavBar > .wrapper > .Navbar_Toggle {
        font-size: 30px;
        bottom: -40px;
        right: 10px;
        width: 70px;
        height: 70px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo{
        top: -70px;
        right: -50px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Bottom_Side > img{
        width: 150px;
    }

    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side{
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 230px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide{
        width: 100%;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 30px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 16px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side {
        width: 100%;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 16px;
    }
}

@media only screen and (orientation: portrait) and (max-width: 320px){

    #NavBar > .wrapper > .Navbar_Units {
        right: 70px;
    }

    #NavBar > .wrapper > .Navbar_Units >span{
        width: 85px;
        height: 75px;
        font-size: 18px;
        transform: translateY(-20px);
    }


    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo{
        top: -70px;
        right: -50px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Bottom_Side > img{
        width: 150px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Logo > img{
        width: 230px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Title > span{
        font-size: 30px;
    }
    
    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .LeftSide > .Content > *{
        font-size: 14px;
    }

    #NavBar > .wrapper > .Navbar_Content_Container > .Top_Side > .Right_Side > .Creators > p{
        font-size: 14px;
    }
}
