#Sidebar{
    width: 350px;
    height: 100%;
    overflow-y: auto;
}

#Sidebar > .Content *{
    user-select: none;
}

#Sidebar > .Content{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--dark-blue);
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 40px;
    
}

#Sidebar > .Content > .Close_Icon{
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    height: 25px;
}

#Sidebar > .Content > .Close_Icon > *{
    color: white;
    width: 25px;
    height: 25px;
}

#Sidebar > .Content > .Title{
    width: 100%;
    font-size: 22px;
    text-align: center;
    color: var(--light-blue);
    font-weight: bold;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#Sidebar > .Content > .Title:hover{
    color: var(--lime-green);
}

#Sidebar > .Content > .List{
    height: 600px;
    overflow-y: auto;
}

#Sidebar > .Content > .List > .List_Item{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

#Sidebar > .Content > .List > .List_Item > p{
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#Sidebar > .Content > .List > .List_Item > p:hover{
    color: var(--light-blue);
}

#Sidebar > .Content > .List > .List_Item.active > p{
    color: var(--lime-green);
}

#Sidebar > .Content > .List .SubItems_Container{
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: start;
    gap: 20px;
    padding-left: 30px;
}

#Sidebar > .Content > .List .SubItems_Container > *{
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#Sidebar > .Content > .List .SubItems_Container:hover > *{
    color: var(--light-blue);
}

#Sidebar > .Content > .List .SubItems_Container.active > *{
    color: var(--lime-green);
}

#Sidebar > .Content > .List .Questions_Container{
    width: 100%;
    height: 350px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    margin-bottom: 50px;
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.3);
}

#Sidebar > .Content > .List .Questions_Container > .Question{
    color: white;
    font-size: 20px;
}

#Sidebar > .Content > .List .Questions_Container > .Question.active{
    color: var(--light-blue);
}

#Sidebar > .Content > .List .Questions_Container > .Question.wrong{
    color: var(--red);
}

#Sidebar > .Content > .List .Questions_Container > .Question.correct{
    color: var(--lime-green);
}

#Sidebar > .Content > .List .Actions{
    width: 100%;
    display: flex;
    justify-content: center;
}

#Sidebar > .Content > .List .Actions > button{
    width: 140px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    color: var(--lime-green);
    font-size: 20px;
    border: 3px solid var(--lime-green);
    border-radius: 40px;
    transition: all 250ms ease-in-out;
}

#Sidebar > .Content > .List .Actions > button.Score{
    width: 175px;
}


#Sidebar > .Content > .List .Actions > button > .Text{
    width: 100%;
    font-weight: bold;
    transition: all 250ms ease-in-out;
}

#Sidebar > .Content > .List .Actions > button > .Icon{
    font-size: 30px;
    border-radius: 50%;
    border: 3px solid var(--lime-green);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in-out;
}

#Sidebar > .Content > .List .Actions > button:hover{
    background-color: var(--lime-green);
}

#Sidebar > .Content > .List .Actions > button:hover > .Text{
    color: var(--dark-blue);
}

#Sidebar > .Content > .List .Actions > button:hover > .Icon{
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}

@media only screen and (max-width: 1366px){
    #Sidebar > .Content > .Close_Icon{
        display: flex;
    }

    #Sidebar > .Content{
        padding-top: 20px;
    }
}

@media only screen and (max-width: 320px){
    #Sidebar{
        width: 300px;
    }

    #Sidebar > .Content{
        padding: 10px 15px;
    }
}