@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');

:root {
  --background-blue: #176b87;
  --dark-blue: #053b50;
  --light-blue: #64ccc5;
  --lime-green: #d2de32;
  --orange: #ffc000;
  --red:#bf0523;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: var(--background-blue);
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

button{
  cursor: pointer;
  border: none;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar */
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--lime-green); /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Set the border radius of the scrollbar thumb */
}

.Navbar_Container{
  display: none;
}


.Navbar_Container.active{
  position: relative;
  display: block;
  height: 54px;
  z-index: 101;
}

.Navbar_Container.homepage.active{
  transform: translateY(-100px);
  animation: slideDown 0.7s ease-in-out 3.5s forwards;
}

@keyframes slideDown{
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
}

.Main_View{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.Main_Content{
  width: 100%;
}

.Main_Content.Sidebar{
  width: 100%;
}

.Sidebar_Container{
  position: sticky;
  top: 54px;
  height: calc(100vh - 54px);
}

.Sidebar_Overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: all 250ms ease-in-out;
  z-index: 999;
  pointer-events: none;
}

.Sidebar_Overlay.open{
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  pointer-events: all;
}


/* Bottom Options */
.Bottom_Options{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 160px;
  right: 30px;
  z-index: 9999;
}

.Bottom_Options.Lesson{
  bottom: 25px;
  right: 25px;
}

.Bottom_Options > img{
  position: fixed;
  width: 300px;
  height: 300px;
  object-fit: contain;
  bottom: -80px;
  right: -20px;
  opacity: 0.8;
  z-index: -10;
  pointer-events: none;
}

.Bottom_Options > .Trigger{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.Bottom_Options > .Trigger > .Icon{
  color: var(--lime-green);
  width: 25px;
  height: 25px;
  transition: all 250ms ease-in-out;
}

.Bottom_Options > .Trigger > .Icon.open{
  transform: rotate(180deg);
}

.Bottom_Options > .Options{
  height: 0px;
  padding-top: 20px;
  width: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 300ms ease-in-out;
}


.Bottom_Options > .Options.open{
  height: 150px;
}

.Bottom_Options.Lesson > .Options.open{
  height: 210px;
}

.Bottom_Options > .Options > .Option{
  width: 55px;
  height: 55px;
  background-color: var(--light-blue);border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  transition: all 250ms ease-in-out;
}

.Bottom_Options > .Options > .Option:hover{
  background-color: var(--dark-blue);
}

.Bottom_Options > .Options > .Option > span{
  color: var(--dark-blue);
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: all 250ms ease-in-out;
}

.Bottom_Options > .Options > .Option > span.Test{
  font-size: 14px;
  text-align: center;
}
.Bottom_Options > .Options > .Option:hover > span{
  color: var(--lime-green);
}

@media only screen and (max-width: 1366px){
  .Main_Content.Sidebar{
    width: 100%;
  }

  .Sidebar_Container{
    position: fixed;
    z-index: 101;
    top: 0;
    left: -150%;
    height: 100vh;
    transition: all 250ms ease-in-out;
    z-index: 1000;
  }

  .Sidebar_Container.open{
    left: 0;
  }
}

@media only screen and (max-width: 1536px){
  .Bottom_Options > img{
    opacity: 0.1;
  }

  .Bottom_Options > .Trigger{
      background-color: rgba(0, 0, 0, 0.3);
  }
}
